backend/n8n-workflow-template.json
{
  "name": "Resume Optimization Pipeline",
  "nodes": [
    {
      "parameters": {
        "path": "resume-optimizer-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "custom-webhook-id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/analyses/{{$json.body.resumeId}}/ats?jobDescriptionId={{$json.body.jobDescriptionId}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Call ATS Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/analyses/{{$json.body.resumeId}}/recruiter?jobDescriptionId={{$json.body.jobDescriptionId}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "3",
      "name": "Call Recruiter Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/analyses/{{$json.body.resumeId}}/tailor?resumeType=Backend+Engineer",
        "options": {}
      },
      "id": "4",
      "name": "Call Resume Tailoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Call ATS Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call ATS Analysis": {
      "main": [
        [
          {
            "node": "Call Recruiter Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Recruiter Review": {
      "main": [
        [
          {
            "node": "Call Resume Tailoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
